*{
    padding:0;
    font-size: 16px;

}.bgblack{
    background-color: black;
}

.edition_no{
    color:white;
    opacity:50%;
    font-size: 15em;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.twe{
    display: flex;
    justify-content: space-between;
}

.heroh{
    color:white;
    padding-left: 0.25em;
    font-size: 6.2em;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    
}

.pink{
    
    width:3em;
    height:26em;
    background-color:#FC2559;
    
}